html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}   

body{
    margin: 50px 300px 50px 300px;
}

.ccr_desc{
    color: rgb(105, 101, 101);
    
}

h1{
    font-size: 35px;
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 200px;
}

th{
    background-color: #00693d79;
}

#universidade{
    font-style: bold;
    color: #00693E;
    text-align: center;
}

.ccr_name{
    font-style: bold;
    color: #00693E
}


