body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: linear-gradient(to bottom, #00693E, #00693d79);
    margin: 20px auto;
}


td:hover, #tableHeader:hover{
	transform:scale(1.05);
}

#rodape{   
    background: white;
	border: 2px solid black;
	box-shadow: 20px 20px 30px black;
    display: flex;
    flex-direction: column;
    padding: 30px; 
}

#btn_follow:hover{

    transform:scale(1.05);
}


#left_menu, #right_menu, #cab{
	background: white;
	border: 2px solid black;
	box-shadow: 20px 20px 30px black;
    display: flex;
    flex-direction: column;
}   

#right_menu{
    padding: 40px;
}

#left_menu{
    padding:20px;
}

h1{
    font-size: 35px;
    margin: 15px;
}

h3{
    margin:10px;
}

td, #tableHeader{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 200px;
    transition: all .3s ease;	
}

#tableHeader{
    background-color: #00693d79;
    text-align: center;
}




