body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: white;
}


td:hover, th:hover{
	transform:scale(1.05);
}

#left_menu, #right_menu, #cab{
	background: white;
	box-shadow: 0px 0px 35px #b3d2c5;
    display: flex;
    flex-direction: column;

}   

#right_menu{
    padding: 40px;
}

#left_menu{
    padding:20px;
}

.ccr_desc{
    color: rgb(105, 101, 101);
}



h1{
    font-size: 35px;
    margin: 15px;
}

h3{
    margin:10px;
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 200px;
    transition: all .3s ease;	
}

th{
    background-color: #00693d79;
    text-align: center;
}

.ccr_name{
    font-style: bold;
    color: #00693E;
    margin-top: 20px;
}

a {
	color: #00693E;
}



